{{#> layout/clean}}
    {{#*inline "page"}}
        <main class="login">
            <div class="wrapper wrapper-login">
                <div class="container container-login animated fadeIn">
                    {{#if title}}
                        <h3 class="text-center">{{ title }}</h3>
                    {{/if}}

                    <form method="{{ method }}" action="{{ action }}" class="login-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>

                        {{#if fields}}
                            {{#each fields as | field |}}
                                <div class="form-group form-floating-label">
                                    <input id="{{ id }}"
                                           name="{{ name }}"
                                           type="{{ type }}"
                                           required="{{ required }}"
                                           class="form-control input-border-bottom"
                                    />
                                    <label for="{{ id }}" class="placeholder">
                                        {{ title }}
                                    </label>
                                </div>
                            {{/each}}
                        {{/if}}
                        
                        {{#if submit}}
                            {{#with submit}}
                                <div class="form-action mb-3">
                                    <button id="{{ id }}" type="{{ type }}" class="btn btn-primary btn-rounded btn-login">
                                        {{ title }}
                                    </button>
                                </div>
                            {{/with}}
                        {{/if}}

                        <div class="login-account">
                            <span class="msg">Don't have an account yet?</span>
                            <span class="link">Sorry but this is a restricted site!</span>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    {{/inline}}
{{/layout/clean}}
